.option_input{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    padding: 2%;
    margin: 1% 2%;
    border: none;
    width: 12rem;
    height: 1.5rem;
    outline: none;
}


.trash_btn{
    background: none;
    border: none;
    outline: none;
}